ul {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  padding: 10px;
  margin-right: 20px;
  background-color: blueviolet;
  border-radius: 2px;
  color: white;
}
